@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.memory-game {
  --colorPrimary: #7b28c5;
  --colorPrimaryLight: #c995f6;
  --colorPrimaryDark: #451c69;

  font-family: "Nanum Pen Script", Roboto;
  margin-top: -100px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transform: translateY(10px);
    background: var(--colorPrimaryDark);
    filter: blur(8px);
  }

  > .aspect-ratio-box {
    position: relative;
    aspect-ratio: 1;
  }

  .grid {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px;
    list-style: none;
    gap: 2%;
    transform: perspective(400px) rotateX(3deg);
    filter:   drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.4));
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.75, rgba(0,0,0,0.02)), to(rgba(255,255,255,0.4)));
  }

  .game-curtain {
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(20px);
    opacity: 0;
    pointer-events: none;
    transition: all 300ms;

    &.active {
      pointer-events: all;
      opacity: 1;
    }
  }

  .splash {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    top: 50%;
    left: 50%;
    padding: 2rem;
    border-radius: 10px;
    border: 10px solid white;
    background-color: var(--colorPrimaryLight);
    transform: translate(-50%, -50%);
    line-height: 1;
    text-align: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));

    background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
      var(--colorPrimaryLight);
    opacity: 0;

    transition: all 300ms;
    pointer-events: none;

    &.visible {
      pointer-events: all;
      opacity: 1;
    }

    h1 {
      margin: 0;
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 40px;
      margin: 0.5rem 0 0;
    }

    button {
      cursor: pointer;
      margin: 2rem 0 0;
      background: var(--colorPrimaryDark);
      border: none;
      color: white;
      padding: 1rem 2rem;
      border-radius: 4px;
      font-size: 25px;
      font-family: "Nanum Pen Script", Roboto;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
      transition: all 50ms;

      &:hover {
        background: var(--colorPrimary);
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.3));
      }
    }
  }

  .game-info {
    display: none;
  }

  .game-controls {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 40px;
    top: 2rem;
    left: 2rem;
    cursor: pointer;

    .mute {
      display: block;
      fill: var(--colorPrimaryLight);

      &:hover {
        fill: white;
        
      }

      #volume {
        #x {
          display: none;
        }
      }

      &.muted {
        #volume {
          #x {
            display: block;
          }
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}

@property --homegradient-color1 {
  syntax: "<color>";
  initial-value: rgba(0, 212, 255, 1);
  inherits: true;
}
@property --homegradient-color2 {
  syntax: "<color>";
  initial-value: rgba(41, 41, 186, 1);
  inherits: true;
}

:root {
  --homegradient-color1: rgba(123, 40, 197, 1);
  --homegradient-color2: rgba(69, 28, 105, 1);
}

#root {
  $patternColor: 000000;
  --homegradient-color1: rgba(123, 40, 197, 1);
  --homegradient-color2: rgba(69, 28, 105, 1);
  transition: --homegradient-color1 4400ms, --homegradient-color2 1400ms;

  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23#{$patternColor}' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
                    radial-gradient(
                                    ellipse at -20% -10%,
                                    rgba(65, 60, 50, 1) 0%,
                                    var(--homegradient-color1) 60%,
                                    var(--homegradient-color2) 100%
                    );

  &.colorset-0 {
    --homegradient-color1: rgba(123, 40, 197, 1);
    --homegradient-color2: rgba(69, 28, 105, 1);
  }

  &.colorset-1 {
    --homegradient-color1: rgba(185, 112, 30, 1);
    --homegradient-color2: rgba(173, 98, 24, 1);
  }

  &.colorset-2 {
    --homegradient-color1: rgba(90, 120, 230, 1);
    --homegradient-color2: rgba(80, 104, 201, 1);
  }

  &.colorset-3 {
    --homegradient-color1: rgba(20, 111, 86, 1);
    --homegradient-color2: rgba(20, 92, 55, 1);
  }


  &.colorset-4 {
    --homegradient-color1: rgba(171, 51, 16, 1);
    --homegradient-color2: rgba(160, 22, 36, 1);
  }

  &.colorset-5 {
    --homegradient-color1: rgba(40, 160, 135, 1);
    --homegradient-color2: rgba(31, 141, 119, 1);
  }
}